
@{
    ViewBag.Title = "Index";
}

<form method="post">
    <br /><br />
    <table align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                Phone number:<br />
                <input type="text" name="ZPhoneNumber" value="@ViewBag.vbNumber" /><br /><br />

                Message:<br />
                <textarea name="ZMessage">@ViewBag.vbMessage</textarea><br /><br />

                <input type="submit" value="ok" />
            </td>
        </tr>
    </table>

</form>
